body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-family: "JetBrains Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.navigation {
  width: 100%;
  height: 70px;
  background: rgb(0, 0, 0);
}
.navigation h1 {
  color: white;
  font-size: 25px;
  font-family: "Fira Code", monospace;
  margin-left: 20px;
  margin-right: 20px;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: white;
  padding: 18px;
}
.navigation #first {
  margin-left: 500px;
}

.navigation ul li a {
  padding: 10px 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s;
  margin-right: 3px;
  color: white;
  text-decoration-line: none;
}
#fourth a {
  background: white;
  color: black;
  border-radius: 30px;
  padding: 10px 17px;
  transition: 0.8s;
  margin-left: 10px;
}
#fourth a:hover {
  background: rgb(143, 136, 136);
}

.navigation ul li a:hover {
  background: rgb(143, 136, 136);
  height: 20px;
  border-radius: 30px;
}

.navigation ul li a:active {
  background: rgb(56, 50, 50);

  height: 20px;
  width: 40px;
}
.information {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  padding: 50px;
}
.information .inf-1 {
  margin-right: 40px;
}
.information h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.information p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.information i {
  margin-left: 80px;
  padding: 40px;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
