body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-family: "JetBrains Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.navigation {
  width: 100%;
  height: 70px;
  background: rgb(0, 0, 0);
}
.navigation h1 {
  color: white;
  font-size: 25px;
  font-family: "Fira Code", monospace;
  margin-left: 20px;
  margin-right: 20px;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: white;
  padding: 18px;
}
.navigation #first {
  margin-left: 500px;
}

.navigation ul li a {
  padding: 10px 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s;
  margin-right: 3px;
  color: white;
  text-decoration-line: none;
}
#fourth a {
  background: white;
  color: black;
  border-radius: 30px;
  padding: 10px 17px;
  transition: 0.8s;
  margin-left: 10px;
}
#fourth a:hover {
  background: rgb(143, 136, 136);
}

.navigation ul li a:hover {
  background: rgb(143, 136, 136);
  height: 20px;
  border-radius: 30px;
}

.navigation ul li a:active {
  background: rgb(56, 50, 50);

  height: 20px;
  width: 40px;
}
.information {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  padding: 50px;
}
.information .inf-1 {
  margin-right: 40px;
  width: 30%;
}

.information h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.information p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.information i {
  margin-left: 80px;
  padding: 40px;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000815;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(49, 26, 38, 0.5);
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.services {
  display: flex;
  padding: 60px 30px;
  background: #000815;
  margin-bottom: 120px;
}
.service-1 img {
  height: 140px;
  width: 200px;
  border-radius: 60px;
  margin-bottom: 20px;
}
.service-1 {
  width: 22%;
  margin-right: 40px;
}
.services h2 {
  font-weight: 500;
  font-size: 20px;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}
.services p {
  font-weight: 400;
  font-size: 15px;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}
.unic {
  text-align: center;
  margin-bottom: 40px;
}
.unic h1 {
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 29px;
  font-family: "Open Sans", sans-serif;
}
.unic button {
  padding: 13px 23px;
  background: #002027;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  transition: 1s;
  cursor: ponter;
  font-family: "Open Sans", sans-serif;
}

.unic button:hover {
  background: #000815;
}
.details {
  display: flex;
  padding: 20px 120px;
  margin-bottom: 60px;
}
.details h1 {
  color: #000815;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.details p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.details-1 {
  background: #7473d0;
  width: 22%;
  padding: 80px 50px;
  margin-right: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}
.details-1:hover {
  background: #9d8c93;
}
.details-2 {
  background: #ff4f4f;
  width: 22%;
  padding: 80px 50px;
  margin-right: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}
.details-2:hover {
  background: #ff086f;
}

.details-3 {
  background: #27b6d6;
  width: 22%;
  padding: 80px 50px;
  margin-right: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}
.details-3 h1 {
  margin-bottom: 40px;
}
.details-3:hover {
  background: #c8c8c8;
}

.details-4 {
  background: #aaca09ff;
  width: 22%;
  padding: 80px 50px;
  margin-right: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}
.details-4:hover {
  background: #5cf609;
}

.male {
  display: flex;
  width: 100%;
  margin-left: 80px;
  margin-bottom: 50px;
}
.male-img img {
  height: 500px;
  width: 80vh;
  margin-right: 40px;
}
.male-text {
  margin-left: 20px;
  width: 30%;
  margin-top: 70px;
  text-decoration: none;
  margin-left: 70px;
}
.male-text h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.male-text p {
  margin-left: 70px;
  font-family: "Open Sans", sans-serif;
}
.male-text a {
  font-weight: bold;
  margin-left: 100px;
  cursor: pointer;
}

.female {
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-bottom: 100px;
}
.female-text {
  margin-left: 40px;
  width: 30%;
  text-decoration: none;
  margin-right: 70px;
  margin-top: 80px;
}
.female-text h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.female-text p {
  margin-left: 70px;
  font-family: "Open Sans", sans-serif;
}
.female-text a {
  font-weight: bold;
  margin-left: 100px;
  cursor: pointer;
}
.female-img img {
  height: 500px;
  width: 80vh;
  margin-right: 40px;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js);
@import url(https://fonts.googleapis.com/css?family=Arvo);
/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: "IconicFill", sans-serif;
}

.wrap {
  width: 300px;
}
.center {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: auto;
}
.input {
  display: flex;
  width: 100%;
  height: 150px;
  background: #000815;
  padding: 120px 30px;
}

input {
  display: block;
  width: 300px;
  padding: 15px 0 15px 12px;
  font-family: "Arvo";
  font-weight: 400;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  outline: none;
  color: rgb(230, 230, 230);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(255, 235, 235, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  text-indent: 60px;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 13px;
  border-radius: 20px;
}
input:focus {
  text-indent: 12px;
  box-shadow: inset 0 -5px 45px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

label {
  display: block;
  position: static;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 20px;
}

.wrap-label {
  width: 300px;
  height: 34px;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.iconicfill-pen-alt2 {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 19px;
  opacity: 1;
  top: -2px;
  transform: translateX(-100px);
}

/* ==== Pen animation ==== */
.move-pen {
  animation: move-pen 1s ease-in infinite alternate;
}
@keyframes move-pen {
  from {
    transform: translateX(-4px) rotate(6deg);
  }
  to {
    transform: translateX(4px) rotate(-3deg);
  }
}
.employes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(./img/emplyes.jpg);
  background-color: #002027;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.employes-1 {
  width: 25%;
  height: 60vh;
  margin-right: 30px;
  background: #000815;
  border-radius: 30px;
}
.employes-1 h1 {
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
}
.employes-1 p {
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 40px;
}
.employes-1 button {
  background: #002027;
  padding: 10px 30px;
  text-align: center;
  color: aliceblue;
  margin-left: 60px;
  border-radius: 30px;
  transition: 1s;
  margin-right: 10px;
  border: 1px solid black;
}
.employes-1 button:hover {
  background: #000815;
}
.footer {
  width: 100%;
  height: 150vh;
  padding: 80px 0;
  background: #000815;
}

.footer h1 {
  color: aliceblue;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  margin-left: 70px;
}
.footer1 {
  margin-bottom: 90px;
}

.footer1 p {
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-left: 70px;
  margin-bottom: 90px;
}

#para {
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: right;
  margin-right: 40px;
}
.element {
  display: flex;
  margin-left: 50px;
  margin-bottom: 50px;
}
.element1 ul {
  list-style-type: none;
  margin-right: 100px;
}
.element1 ul li {
  padding: 10px;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.element1 ul li a {
  cursor: pointer;
  transition: 0.5s;
}
.element1 ul li a:hover {
  color: #000000;
}
#company {
  font-weight: bold;
  font-size: 20px;
}
#products {
  font-weight: bold;
  font-size: 20px;
}
#global {
  font-weight: bold;
  font-size: 20px;
}
#travel {
  font-weight: bold;
  font-size: 20px;
}
.awesome {
  display: flex;
  margin-left: 90px;
  margin-bottom: 40px;
}
.awesome i {
  color: white;
  cursor: pointer;
  padding: 10px;
}
.awesome1 i:hover {
  background: #007893;
}
.awesome1 i {
  margin-right: 60px;
  transition: 0.8s;
}
.awesome {
  margin-left: 90px;
}
.awesome2 span {
  margin-right: 20px;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
.awesome2 i {
  transition: 0.8s;
}
.awesome2 i:hover {
  background: #007893;
}
.last1 {
  display: flex;
}
.last2 p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-right: 700px;
}
.last3 ul {
  list-style-type: none;
  justify-content: right;
}
.last3 ul li {
  padding: 12px 14px;
  color: white;
  cursor: pointer;
}
